<mat-toolbar class="md-medium-tall" color="primary" style="margin: 2em auto; background-color: transparent;">
    <mat-toolbar-row>
        <button mat-raised-button color="accent" [routerLink]="'/rezervacije'"> Rezervacije </button>
        <button mat-raised-button color="accent" [routerLink]="'/brzerezervacije'"> Brze rezervacije </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Datum od</th>
            <th>Datum do</th>
            <th>Broj dana</th>
            <th>Broj gostiju</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of rezervacije">
            <td>{{u.id}}</td>
            <td>{{u.start}}</td>
            <td>{{u.end}}</td>
            <td>{{u.brdana}}</td>
            <td>{{u.brgostiju}}</td>
            <td><input type = "button" (click)="rezervisi(u.id)" value = "rezervisi"/></td>
        </tr>
    </tbody>
    
  </table>
