<div class="dashboard-container">
    <button mat-raised-button color="primary" routerLink="/instruktori"><span class="material-icons">keyboard_backspace</span> Back</button>
    <mat-card>
        <form [formGroup]="instruktorForm" (ngSubmit)="onSubmit()">
            <div fxLayout="column">
                <mat-form-field class="full-width-input">
                  <label>Ime: </label>
                  <input matInput name="ime" formControlName="ime" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column">
                <mat-form-field class="full-width-input">
                  <label>Prezime: </label>
                  <input matInput name="prezime" formControlName="prezime" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column">
                <mat-form-field class="full-width-input">
                  <label>Broj: </label>
                  <input matInput name="broj" formControlName="broj" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column">
                <mat-form-field class="full-width-input">
                  <label>Lokacija: </label>
                  <input matInput name="lokacija" formControlName="lokacija" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column">
                <mat-form-field class="full-width-input">
                  <label>ocena: </label>
                  <input matInput name="ocena" formControlName="ocena" readonly>
                </mat-form-field>
            </div>
            
        </form>
        
    </mat-card>
</div>
