<div class="outer">
    <div class="middle">
      <div class="inner">
        
        
        <div class="center myFonts">
          <h2>First login password change</h2>
        <form #passForm="ngForm" (ngSubmit)="onSubmit(passForm)" *ngIf="!isLoading">
            <mat-form-field appearance="fill" color="accent">
                <mat-label for="password">Password</mat-label>
                <input matInput
                  type="password"
                  id="password"
                  class="form-control"
                  ngModel
                  name="password"
                  required
                />
              </mat-form-field>
          <mat-form-field appearance="fill" color="accent">
            <mat-label for="password2">Confirm Password</mat-label>
            <input matInput
              type="password"
              id="password2"
              class="form-control"
              ngModel
              name="password2"
              required
            />
          </mat-form-field>
          <div class="alert" *ngIf="error">
            <p>{{ error }}</p>
          </div>
          <div>
            <button
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!passForm.valid">
              Log in
            </button>
          </div>
        </form>
      </div>
        </div>
      </div>
    </div>
