<div class="dashboard-container">
    <button mat-raised-button color="primary" routerLink="/"><span class="material-icons">keyboard_backspace</span> Back</button>
    <mat-card>
        <h2 *ngIf="userNotFound; else edit" class="not-found">User Not Found</h2>
        <ng-template #edit>
          
            <form *ngIf="!userNotFound" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <h2>Edit profile information</h2>
    
                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Email: </label>
                      <input matInput name="email" formControlName="email" readonly>
                      <mat-error>
                        Please provide a valid email
                      </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Ime: </label> 
                      <input matInput name="ime" formControlName="ime">
                      <mat-error>
                        Please provide a valid username
                      </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                  <mat-form-field class="full-width-input">
                    <label>Prezime: </label>
                    <input matInput name="prezime" formControlName="prezime">
                    <mat-error>
                      Please provide a valid username
                    </mat-error>
                  </mat-form-field>
              </div>

                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Adresa: </label>
                      <input matInput name="adresa" formControlName="adresa">
                      <mat-error>
                        Please provide a valid username
                      </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Grad: </label>
                      <input matInput name="grad" formControlName="grad">
                      <mat-error>
                        Please provide a valid username
                      </mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Drzava: </label>
                      <input matInput name="drzava" formControlName="drzava">
                      <mat-error>
                        Please provide a valid username
                      </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Broj: </label>
                      <input matInput  name="broj" formControlName="broj">
                      <mat-error>
                        Please provide a valid username
                      </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                    <mat-form-field class="full-width-input">
                      <label>Penali : </label>
                      <input matInput  name="penali" formControlName="penali" readonly>
                      <mat-error>
                        Please provide a valid username
                      </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                  <mat-form-field class="full-width-input">
                    <label>poeni : </label>
                    <input matInput  name="poeni" formControlName="poeni" readonly>
                    <mat-error>
                      Please provide a valid username
                    </mat-error>
                  </mat-form-field>
              </div>

              <div fxLayout="column">
                <mat-form-field class="full-width-input">
                  <label>Kategorija : </label>
                  <input matInput  name="kategorija" formControlName="kategorija" readonly>
                  <mat-error>
                    Please provide a valid username
                  </mat-error>
                </mat-form-field>
            </div>

                
                <mat-error *ngIf=submitionErrorUser style="margin-bottom: 10px;">
                  Unable to update user profile, try different username.
                </mat-error>

                <button mat-raised-button color="primary" [disabled] = "userForm.invalid">Update</button>
            </form>

        </ng-template>
    </mat-card>
</div>
