<mat-toolbar class="md-medium-tall" color="primary" style="margin: 2em auto; background-color: transparent;">
    <mat-toolbar-row>
      <button mat-raised-button color="accent" [routerLink]="'/zahtevi'"> Zahtevi za registraciju </button>
      <button mat-raised-button color="accent" [routerLink]="'/zalbe'"> Zalbe </button>
      <button mat-raised-button color="accent" [routerLink]="'/register-admin'" *ngIf="predefinisan"> Dodaj novog admina </button>
      <button mat-raised-button color="accent" [routerLink]="'/zahtevi-brisanje'" *ngIf="predefinisan"> Zahtevi za brisanje </button>
      <button mat-raised-button color="accent" [routerLink]="'/korisnici'" *ngIf="predefinisan"> Korisnici </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="dashboard-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.prezime}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="adresa">
      <th mat-header-cell *matHeaderCellDef> Adresa </th>
      <td mat-cell *matCellDef="let element"> {{element.adresa}} </td>
    </ng-container>

    <ng-container matColumnDef="grad">
        <th mat-header-cell *matHeaderCellDef> Grad </th>
        <td mat-cell *matCellDef="let element"> {{element.grad}} </td>
      </ng-container>

      <ng-container matColumnDef="token">
        <th mat-header-cell *matHeaderCellDef> Token </th>
        <td mat-cell *matCellDef="let element"> {{element.token}} </td>
      </ng-container>

      <ng-container matColumnDef="Obrazlozenje">
        <th mat-header-cell *matHeaderCellDef> Obrazlozenje </th>
        <td mat-cell *matCellDef="let element" >
             <button mat-raised-button color="accent" (click)="clickObrazlozenje(element.obrazlozenje)">Obrazlozenje</button>
        </td>
      </ng-container>
      

    <ng-container matColumnDef="Prihvati">
        <th mat-header-cell *matHeaderCellDef> Prihvati </th>
        <td mat-cell *matCellDef="let element" >
             <button mat-raised-button color="primary" (click)="itemclick(element.token)">Prihvati</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Odbij">
        <th mat-header-cell *matHeaderCellDef> Odbij </th>
        <td mat-cell *matCellDef="let element" >
             <button mat-raised-button color="warn" (click)="itemclickReject(element.token)">Odbij</button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<router-outlet></router-outlet>
